@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    leading-trim: both;
    text-edge: cap;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* H1 */
    font-family: Poleno;
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 150px */ 
}

h2{

leading-trim: both;
text-edge: cap;
font-feature-settings: 'clig' off, 'liga' off;

/* H2 */
font-family: Neuzon;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 80px; /* 125% */
}
h3{
    color: var(--001855, #001855);
leading-trim: both;
text-edge: cap;
font-feature-settings: 'clig' off, 'liga' off;

/* H3 */
font-family: Neuzon;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 62.5px */
text-transform: uppercase;
}

h4{
    color: var(--001855, #001855);
leading-trim: both;
text-edge: cap;
font-feature-settings: 'clig' off, 'liga' off;

/* H4 */
font-family: Neuzon;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 60px */
}

h5{
    color: var(--001855, #001855);
leading-trim: both;
text-edge: cap;
font-feature-settings: 'clig' off, 'liga' off;

/* H5 */
font-family: Neuzon;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 42px */
letter-spacing: 1px;
text-transform: uppercase;
}

h6{
    color: var(--001855, #001855);
font-feature-settings: 'clig' off, 'liga' off;

/* H6 */
font-family: Poleno;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 25px */
letter-spacing: 1px;
}

p{
    color: var(--001855, #001855);
font-feature-settings: 'clig' off, 'liga' off;

/* Paragraph 1 */
font-family: "Area Normal";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
}

.paragraph-2{


/* Paragraph 2 */
font-family: "area-normal";
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 171.429% */
}

button, .btn-text, a{

font-feature-settings: 'clig' off, 'liga' off;

/* Button - all caps */
font-family: Poleno;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 125%; /* 18.75px */
letter-spacing: 1.5px;
text-transform: uppercase;
}

.bump{
    transition: transform 300ms ease-out;
}

.bump:active{
    transform: translateY(-8px);
}

.negative-bump{
    transition: transform 300ms ease-out;
}

.negative-bump:active{
    transform: translateY(8px);
}
